<style type="text/css">
  th,td { text-align: center; }
</style>

<table class="table table-hover table-responsive table-condensed table-striped">
	
	<thead class="thead-dark">
		<tr class="info">
			<th> No </th>
			<th> Firstname </th>
			<th> Lastname </th>
			<th> Phone # </th>
			<th> Car Make </th>
			<th> Car Color </th>
			<th> Price </th>
			<th> Paid by ? </th>
			<th> Added by ? </th>
		</tr>
	</thead>

	<tbody id="table">
		<% @monthlies.each.with_index(1) do |m,i| %>
		<tr>
			<td> <%= i %> </td>
			<td> <%= m.first %> </td>
			<td> <%= m.last %> </td>
			<td> <%= m.phone %> </td>
			<td> <%= m.make %> </td>
			<td> <%= m.color %> </td>
			<td> <%= m.price %> </td>
			<td> <%= m.paid %> </td>
			<td> <%= User.find(m.user_id).username %> </td>
		</tr>
		<% end %>
	</tbody>

</table>