<div class="container">
  
  <h3> <em id="red"> <%= @location.name %> </em> </h3>
  
  
  <%= render 'search_field' %>

  <br>

  <ul class="nav nav-pills nav-tabs">
  	<li class="active"> <%= link_to 'Dailies', '#home', data: { toggle: 'pill' } %> </li>
    <li> <%= link_to 'Monthlies', '#menu1', data: { toggle: 'pill' } %> </li>
    <li> <%= link_to 'Location', '#menu2', data: { toggle: 'pill' } %> </li>
  </ul>


  <div class="tab-content">
    
    <div id="home" class="tab-pane fade in active">
    	<br>
  		<%= render 'table_daily' %>
		  
		  <div class="row textcenter">
		  	
		  	<div class="col-md-3">
			  	<h3 id="red"> Unpaid = <%= @unpaid.count %> car(s) </h3>
		  	</div>
		  
				<div class="col-md-3">
			  	<h3 id="green"> Paid = <%= @paid.count %> car(s) </h3>
		  	</div>
		  
		  	<div class="col-md-3">
					<h3 id="blue"> Daily Total = $ <%= @total %> </h3>
			  </div>
			
				<%= render 'layouts/navbar_bottom' %>
			</div>
			
    </div>
    
    <div id="menu1" class="tab-pane fade">
    	<br>
      <%= render 'table_monthly' %>
			
			<%= render 'layouts/navbar_bottom_monthly' %>
		</div>

		<div id="menu2" class="tab-pane fade" >
			
		 	N/A

		</div>

	</div>

	<br>
	<br>
	<%= render 'layouts/footer' %>
	
	<%= render 'layouts/script' %>

	<br>
	<br>
	<br>

</div>